# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretório de dependências
node_modules/

# Diretório de dependências para pacotes instalados localmente
jspm_packages/

# Build de saída
dist/
build/

# Dados de cache e temporários
.pnpm/
.vscode/
.cache/
.tmp/
.temp/

# Configurações do ambiente
.env
.env.test
.env.production
.env.local
.env.*.local

# Configuração do editor
.idea/
*.iml

# Ignorar pacotes de blocos monorepo
packages/**/node_modules

# Cobertura de testes
coverage/
*.lcov

# Configurações de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de lock gerados
package-lock.json
yarn.lock
pnpm-lock.yaml

# Saídas do TypeScript
*.tsbuildinfo

# Ignorar arquivos de debug do Docker ou Git
*.swp
*.swo
